<div class="top-session">
  <div class="containerr">
    <div id="carouselTop" class="carousel slide carousel-fade" data-bs-touch="false" data-bs-ride="carousel" data-bs-interval="10000">
      <div class="carousel-indicators">
        <div role="button" data-bs-target="#carouselTop" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></div>
        <div role="button" data-bs-target="#carouselTop" data-bs-slide-to="1" aria-label="Slide 2"></div>
        <div role="button" data-bs-target="#carouselTop" data-bs-slide-to="2" aria-label="Slide 3"></div>
        <div role="button" data-bs-target="#carouselTop" data-bs-slide-to="3" aria-label="Slide 4"></div>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="hero-section">
            <img src="assets/images/affiliates/hero-1.png" class="d-block w-100" alt="...">
            <div class="hero-content d-flex justify-content-center align-items-center gap-5 pb-5 flex-column">
              <div class="container">
                <div class="fs-5 lh-base text-gray text-uppercase" data-i18n="crypto_page.hero_label"></div>
                <div class="section-title my-4" data-i18n="affiliates_page.hero_title_1"></div>
                <div class="fs-3 lh-base text-gray pb-3" data-i18n="affiliates_page.hero_description_1"></div>
                <div class="d-flex justify-content-center align-items-center gap-4 pt-5">
                  <a href="/affiliates.html#commission-rewards" class="btn-gradient bg-white text-uppercase" data-i18n="affiliates_page.Commissions"></a>
                  <button class="btn-gradient has-icon text-uppercase" data-i18n="affiliates_page.Join_now" data-bs-toggle="modal" data-bs-target="#contactUsModal"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="hero-section">
            <img src="assets/images/affiliates/hero-2.png" class="d-block w-100" alt="...">
            <div class="hero-content d-flex justify-content-center align-items-center gap-5 pb-5 flex-column">
              <div class="container">
                <div class="fs-5 lh-base text-gray text-uppercase" data-i18n="crypto_page.hero_label"></div>
                <div class="section-title my-4" data-i18n="affiliates_page.hero_title_2"></div>
                <div class="fs-3 lh-base text-gray pb-3" data-i18n="affiliates_page.hero_description_2"></div>
                <div class="d-flex justify-content-center align-items-center gap-4 pt-5">
                  <a href="/affiliates.html#commission-rewards" class="btn-gradient bg-white text-uppercase" data-i18n="affiliates_page.Commissions"></a>
                  <button class="btn-gradient has-icon text-uppercase" data-i18n="affiliates_page.Join_now" data-bs-toggle="modal" data-bs-target="#contactUsModal"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="hero-section">
            <img src="assets/images/affiliates/hero-3.png" class="d-block w-100" alt="...">
            <div class="hero-content d-flex justify-content-center align-items-center gap-5 pb-5 flex-column">
              <div class="container">
                <div class="fs-5 lh-base text-gray text-uppercase" data-i18n="crypto_page.hero_label"></div>
                <div class="section-title my-4" data-i18n="affiliates_page.hero_title_3"></div>
                <div class="fs-3 lh-base text-gray pb-3" data-i18n="affiliates_page.hero_description_3"></div>
                <div class="d-flex justify-content-center align-items-center gap-4 pt-5">
                  <a href="/affiliates.html#commission-rewards" class="btn-gradient bg-white text-uppercase" data-i18n="affiliates_page.Commissions"></a>
                  <button class="btn-gradient has-icon text-uppercase" data-i18n="affiliates_page.Join_now" data-bs-toggle="modal" data-bs-target="#contactUsModal"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="hero-section">
            <img src="assets/images/affiliates/hero-4.png" class="d-block w-100" alt="...">
            <div class="hero-content d-flex justify-content-center align-items-center gap-5 pb-5 flex-column">
              <div class="container">
                <div class="fs-5 lh-base text-gray text-uppercase" data-i18n="crypto_page.hero_label"></div>
                <div class="section-title my-4" data-i18n="affiliates_page.hero_title_4"></div>
                <div class="fs-3 lh-base text-gray pb-3" data-i18n="affiliates_page.hero_description_4"></div>
                <div class="d-flex justify-content-center align-items-center gap-4 pt-5">
                  <a href="/affiliates.html#commission-rewards" class="btn-gradient bg-white text-uppercase" data-i18n="affiliates_page.Commissions"></a>
                  <button class="btn-gradient has-icon text-uppercase" data-i18n="affiliates_page.Join_now" data-bs-toggle="modal" data-bs-target="#contactUsModal"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <div class="home-page__content__fc container">
    <div class="row ms-0 me-0">
      <a href="/sponsor-juventus.html" class="col-4 p-0 pe-1" data-i18n="home_fc_img_1"></a>
      <a href="/sponsor-leicester.html" class="col-4 p-0 ps-1" data-i18n="home_fc_img_3"></a>
      <a href="/sponsor-aston-villa.html" class="col-4 p-0 ps-1" data-i18n="home_fc_img_2"></a>
    </div>
  </div>

  <!-- Why Affiliates Choose OB9 -->
  <div id="why-us" class="row align-items-stretch g-5 justify-content-center align-items-center p-5">
    <div class="col-12 py-4 text-center">
      <div class="fs-05 mb-2 lh-base text-gray-gradient" data-i18n="affiliates_page.Why_Affiliates_Choose_OB9"></div>
      <div class="fs-4 lh-base text-gray" data-i18n="affiliates_page.Why_Affiliates_Choose_OB9_description"></div>
    </div>
    <div class="col-4">
      <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 d-flex justify-content-start align-items-center gap-4">
        <div class="d-flex justify-content-center align-items-center text-center gap-4 flex-column">
          <div>
            <img class="zoom-effect" src="assets/images/affiliates/Shield.png" width="120px" />
          </div>
          <div class="fs-4" data-i18n="affiliates_page.Why_Affiliates_1"></div>
          <div class="fs-6 lh-base text-gray opacity-75" data-i18n="affiliates_page.Why_Affiliates_1_description"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 d-flex justify-content-start align-items-center gap-4">
        <div class="d-flex justify-content-center align-items-center text-center gap-4 flex-column">
          <div>
            <img class="zoom-effect" src="assets/images/affiliates/Industry.png" width="120px" />
          </div>
          <div class="fs-4" data-i18n="affiliates_page.Why_Affiliates_2"></div>
          <div class="fs-6 lh-base text-gray opacity-75" data-i18n="affiliates_page.Why_Affiliates_2_description"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 d-flex justify-content-start align-items-center gap-4">
        <div class="d-flex justify-content-center align-items-center text-center gap-4 flex-column">
          <div>
            <img class="zoom-effect" src="assets/images/affiliates/Payouts.png" width="120px" />
          </div>
          <div class="fs-4" data-i18n="affiliates_page.Why_Affiliates_3"></div>
          <div class="fs-6 lh-base text-gray opacity-75" data-i18n="affiliates_page.Why_Affiliates_3_description"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 d-flex justify-content-start align-items-center gap-4">
        <div class="d-flex justify-content-center align-items-center text-center gap-4 flex-column">
          <div>
            <img class="zoom-effect" src="assets/images/affiliates/Game.png" width="120px" />
          </div>
          <div class="fs-4" data-i18n="affiliates_page.Why_Affiliates_4"></div>
          <div class="fs-6 lh-base text-gray opacity-75" data-i18n="affiliates_page.Why_Affiliates_4_description"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 d-flex justify-content-start align-items-center gap-4">
        <div class="d-flex justify-content-center align-items-center text-center gap-4 flex-column">
          <div>
            <img class="zoom-effect" src="assets/images/affiliates/Play.png" width="120px" />
          </div>
          <div class="fs-4" data-i18n="affiliates_page.Why_Affiliates_5"></div>
          <div class="fs-6 lh-base text-gray opacity-75" data-i18n="affiliates_page.Why_Affiliates_5_description"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 d-flex justify-content-start align-items-center gap-4">
        <div class="d-flex justify-content-center align-items-center text-center gap-4 flex-column">
          <div>
            <img class="zoom-effect" src="assets/images/affiliates/Player.png" width="120px" />
          </div>
          <div class="fs-4" data-i18n="affiliates_page.Why_Affiliates_6"></div>
          <div class="fs-6 lh-base text-gray opacity-75" data-i18n="affiliates_page.Why_Affiliates_6_description"></div>
        </div>
      </div>
    </div>
    <div class="col-12 py-4 text-center mx-auto">
      <button class="btn-gradient has-icon text-uppercase mt-3 mx-auto" data-i18n="affiliates_page.Start_Earning_Today" data-bs-toggle="modal" data-bs-target="#contactUsModal"></button>
    </div>
    <div class="col-12 py-4 text-center">
      <div class="fs-1 mb-2 lh-base text-gray-gradient" data-i18n="affiliates_page.Proven_success"></div>
      <div class="fs-1 lh-base" data-i18n="affiliates_page.The_numbers_tell_the_story"></div>
    </div>
    <div class="col-3">
      <div class="zoom-effect-container mx-auto card-base proven-success bg-gradient2 d-flex justify-content-center align-items-center gap-4">
        <div class="d-flex zoom-effect justify-content-center align-items-center text-center gap-3 flex-column">
          <div class="fs-1 lh-base text-gradient fw-bold">40%</div>
          <div class="fs-5 text-gray" data-i18n="affiliates_page.Revenue_Share"></div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="zoom-effect-container mx-auto card-base proven-success bg-gradient2 d-flex justify-content-center align-items-center gap-4">
        <div class="d-flex zoom-effect justify-content-center align-items-center text-center gap-3 flex-column">
          <div class="fs-1 lh-base text-gradient fw-bold">10,000+</div>
          <div class="fs-5 text-gray" data-i18n="affiliates_page.Affiliates"></div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="zoom-effect-container mx-auto card-base proven-success bg-gradient2 d-flex justify-content-center align-items-center gap-4">
        <div class="d-flex zoom-effect justify-content-center align-items-center text-center gap-3 flex-column">
          <div class="fs-1 lh-base text-gradient fw-bold">$5M+</div>
          <div class="fs-5 text-gray" data-i18n="affiliates_page.Commissions_Paid"></div>
        </div>
      </div>
    </div>
  </div>


  <!-- Secure & trustworthy -->
  <div id="how-it-works" class="py-5 my-5 d-flex justify-content-center align-items-center gap-4 flex-column">
    <div class="section-title" data-i18n="affiliates_page.How_It_Works"></div>
    <div class="text-gray fs-4 text-center lh-base" data-i18n="affiliates_page.How_It_Works_description"></div>
    <div class="py-4 w-100">
      <div class="row g-5 justify-content-center align-items-start relative">
        <div class="line-horizontal"></div>
        <div class="col-4 zoom-effect-container z-1">
          <div class="d-flex justify-content-center align-items-center gap-4 flex-column">
            <img class="zoom-effect" src="assets/images/affiliates/step-1.png" height="120px" />
            <div class="fw-bold text-gradient fs-05 lh-sm opacity-50">01</div>
            <div class="fs-3" data-i18n="affiliates_page.Step_1_title"></div>
            <div class="text-gray fs-6 lh-base opacity-75" data-i18n="affiliates_page.Step_1_description1"></div>
          </div>
        </div>
        <div class="col-4 zoom-effect-container z-1">
          <div class="d-flex justify-content-center align-items-center gap-4 flex-column">
            <img class="zoom-effect" src="assets/images/affiliates/step-2.png" height="120px" />
            <div class="fw-bold text-gradient fs-05 lh-sm opacity-50">02</div>
            <div class="fs-3" data-i18n="affiliates_page.Step_2_title"></div>
            <div class="text-gray fs-6 lh-base opacity-75" data-i18n="affiliates_page.Step_2_description1"></div>
          </div>
        </div>
        <div class="col-4 zoom-effect-container z-1">
          <div class="d-flex justify-content-center align-items-center gap-4 flex-column">
            <img class="zoom-effect" src="assets/images/affiliates/step-3.png" height="120px" />
            <div class="fw-bold text-gradient fs-05 lh-sm opacity-50">03</div>
            <div class="fs-3" data-i18n="affiliates_page.Step_3_title"></div>
            <div class="text-gray fs-6 lh-base opacity-75" data-i18n="affiliates_page.Step_3_description1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-5 d-flex justify-content-center align-items-center gap-4 flex-column">
      <button class="btn-gradient has-icon text-uppercase mt-3" data-i18n="affiliates_page.Become_a_Partner_Today" data-bs-toggle="modal" data-bs-target="#contactUsModal"></button>
    </div>
  </div>


  <!-- Commission & Rewards -->
  <div id="commission-rewards" class="py-5 mt-5 d-flex justify-content-center align-items-center gap-4 flex-column">
    <div class="section-title" data-i18n="affiliates_page.Commission_Rewards"></div>
    <div class="text-gray fs-4 text-center lh-base mb-4" data-i18n="affiliates_page.Commission_Rewards_description"></div>
    <div class="py-4 w-100">
      <div class="row g-5 justify-content-center align-items-start relative">
        <div class="col-6">
          <div class="zoom-effect-container box-shadow card-base h-100 bg-gradient2 d-flex justify-content-start align-items-center gap-4">
            <div>
              <img class="zoom-effect" src="assets/images/affiliates/Dollar-Bag.png" width="130px" />
            </div>
            <div class="d-flex justify-content-start align-items-start gap-4 flex-column">
              <div class="fs-4" data-i18n="affiliates_page.Flat_40_Revenue_Share"></div>
              <div class="fs-6 lh-base text-gray" data-i18n="affiliates_page.Flat_40_Revenue_Share_description"></div>
            </div>
          </div>
          <div class="my-5 fs-5 lh-base d-flex justify-content-center align-items-center gap-3 flex-column">
            <div class="row gx-4 justify-content-center align-items-start relative">
              <div class="col-6 text-center d-flex justify-content-center align-items-center gap-2 flex-column">
                <div data-i18n="affiliates_page.Multi_Currency_Support"></div>
                <div data-i18n="affiliates_page.Multi_Currency_Support_currencies" class="text-gray"></div>
                <div data-i18n="affiliates_page.Fast_Payouts"></div>
                <div data-i18n="affiliates_page.Fast_Payouts_Monthly" class="text-gray"></div>
              </div>
              <div class="col-6 text-center d-flex justify-content-center align-items-center gap-2 flex-column">
                <div data-i18n="affiliates_page.Transparent_System"></div>
                <div data-i18n="affiliates_page.Transparent_System_description" class="text-gray"></div>
                <div data-i18n="affiliates_page.Sustainable_Growth"></div>
                <div data-i18n="affiliates_page.Sustainable_Growth_description" class="text-gray"></div>
              </div>
            </div>
            <div class="text-center" data-i18n="affiliates_page.Commission_Formula"></div>
            <div class="text-center card-base bg-white w-100" data-i18n="affiliates_page.Company_Win_Loss"></div>
            <div class="text-center text-gray" data-i18n="affiliates_page.Service_fee"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="fs-3 lh-base" data-i18n="affiliates_page.Commission_Tiers"></div>
          <div class="row gx-4 my-5 justify-content-center align-items-start relative">
            <div class="col-4 zoom-effect-container text-center d-flex justify-content-center align-items-center gap-2 flex-column">
              <div class="commission-circle">
                <div class="zoom-effect">MYR</div>
              </div>
              <div data-i18n="affiliates_page.Currency" class="text-gray"></div>
            </div>
            <div class="col-4 zoom-effect-container text-center d-flex justify-content-center align-items-center gap-2 flex-column">
              <div class="commission-circle">
                <div class="zoom-effect">5</div>
              </div>
              <div data-i18n="affiliates_page.Active_Member" class="text-gray"></div>
            </div>
            <div class="col-4 zoom-effect-container text-center d-flex justify-content-center align-items-center gap-2 flex-column">
              <div class="commission-circle">
                <div class="zoom-effect">
                  <div class="fs-6 fw-light" data-i18n="affiliates_page.Flat_Rate"> </div>
                </div>
                <div class="zoom-effect">
                  <div>40%</div>
                </div>
              </div>
              <div data-i18n="affiliates_page.Commission" class="text-gray"></div>
            </div>
          </div>
          <div class="fs-4 lh-base text-center" data-i18n="affiliates_page.Commission_Payment_Method"></div>
          <div class="row gx-4 my-5 justify-content-center align-items-start relative">
            <div class="col-5  zoom-effect-container text-center d-flex justify-content-center align-items-center gap-2 flex-column">
              <img class="zoom-effect" src="assets/images/affiliates/Bank-Transfer.png" width="94px" />
              <div class="fs-5 lh-base" data-i18n="affiliates_page.Bank_Transfer"></div>
              <div data-i18n="affiliates_page.Bank_Transfer_description" class="text-gray"></div>
            </div>
            <div class="col-5  zoom-effect-container text-center d-flex justify-content-center align-items-center gap-2 flex-column">
              <img class="zoom-effect" src="assets/images/affiliates/Crypto-Payment.png" width="94px" />
              <div class="fs-5 lh-base" data-i18n="affiliates_page.Crypto_Payment"></div>
              <div data-i18n="affiliates_page.Crypto_Payment_description" class="text-gray"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Enhanced with Affiliate+ Program -->
  <div class="py-5 d-flex justify-content-center align-items-center gap-4 flex-column">
    <div class="fs-1 mb-2 lh-base text-gray-gradient" data-i18n="affiliates_page.Enhanced_with"></div>
    <div class="text-gray fs-4 text-center lh-base mb-4" data-i18n="affiliates_page.Enhanced_with_description"></div>
    <div class="py-4 w-100">
      <div class="row g-5 justify-content-center align-items-center relative">
        <div class="col-6">
          <div class="my-5 fs-5 lh-base d-flex justify-content-center align-items-center gap-3 flex-column">
            <img class="zoom-effect" src="assets/images/affiliates/affiliate-program.png" width="100%" />
            <div class="text-center fs-4" data-i18n="affiliates_page.Total_Affiliate_A_YOU_Earning"></div>
            <div class="text-center card-base bg-white w-100">
              <div class="text-gradient fw-bold fs-3">$6,260</div>
            </div>
            <div class="text-center text-gray">($600 [B1] + $12,000 [B2]) x 10% + Direct Comm. Earn $5,000</div>
          </div>
        </div>
        <div class="col-6 ">
          <div class="d-flex justify-content-center align-items-center gap-4 flex-column">
            <div class="zoom-effect-container box-shadow card-base w-100 h-100 bg-gradient2 d-flex justify-content-start align-items-center gap-4">
              <div>
                <img class="zoom-effect" src="assets/images/affiliates/Extra-Earnings.png" width="94px" />
              </div>
              <div class="d-flex justify-content-start align-items-start gap-4 flex-column">
                <div class="fs-4" data-i18n="affiliates_page.Extra_Earnings"></div>
                <div class="fs-6 lh-base text-gray" data-i18n="affiliates_page.Extra_Earnings_description"></div>
              </div>
            </div>
            <div class="zoom-effect-container box-shadow card-base w-100 h-100 bg-gradient2 d-flex justify-content-start align-items-center gap-4">
              <div>
                <img class="zoom-effect" src="assets/images/affiliates/No-Limit-on-Referrals.png" width="94px" />
              </div>
              <div class="d-flex justify-content-start align-items-start gap-4 flex-column">
                <div class="fs-4" data-i18n="affiliates_page.No_Limit_on_Referrals"></div>
                <div class="fs-6 lh-base text-gray" data-i18n="affiliates_page.No_Limit_on_Referrals_description"></div>
              </div>
            </div>
            <div class="zoom-effect-container box-shadow card-base w-100 h-100 bg-gradient2 d-flex justify-content-start align-items-center gap-4">
              <div>
                <img class="zoom-effect" src="assets/images/affiliates/Easy-Tracking.png" width="94px" />
              </div>
              <div class="d-flex justify-content-start align-items-start gap-4 flex-column">
                <div class="fs-4" data-i18n="affiliates_page.Easy_Tracking"></div>
                <div class="fs-6 lh-base text-gray" data-i18n="affiliates_page.Easy_Tracking_description"></div>
              </div>
            </div>
          </div>
          <div class="text-center pt-5 d-flex justify-content-center align-items-center gap-4 flex-column">
            <button class="btn-gradient has-icon text-uppercase mt-3" data-i18n="affiliates_page.Contact_Us" data-bs-toggle="modal" data-bs-target="#contactUsModal"></button>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>

