<nav class="my-navbar__main navbar fixed-top navbar-expand-lg">
  <div class="my-navbar__main__container container px-0">
    <ul class="navbar-nav nav-left">
      <li class="nav-item navbar-brand">
        <a href="/">
          <img src="assets/images/nav-logo.png" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/affiliates.html#why-us" data-i18n="affiliates_page.why_us"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/affiliates.html#how-it-works" data-i18n="affiliates_page.How_it_works"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/affiliates.html#commission-rewards" data-i18n="affiliates_page.Commissions"></a>
      </li>
    </ul>
  </div>
</nav>
