<div class="section">
  <div class="section-content">
    <div class="withdrawal-page__content__bank-account">
      <div class="row">
        <div class="col-7">
          <div class="col-12 mb-3">
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#addBankCryptoModal" class="withdrawal-page__content__bank-account__container__item flex-row">
              <div class="withdrawal-page__content__bank-account__container__item__img add">
                <img src="assets/icons/plus.svg" />
              </div>
              <div class="withdrawal-page__content__bank-account__container__item__text" data-i18n="add_wallet_address"></div>
            </a>
          </div>
          <div class="withdrawal-page__content__bank-account__container row cryto-select-bank flex-wrap custom-scrollbar" style="max-height: 50vh;">
            <div class="position-relative col-12 mb-3 cryto-select-bank__item">
              <label class="cryto-select-bank__item__label flex-row">
                <div class="cryto-select-bank__item__label__img">
                  <img src="assets/images/new-icons/usdt.png" />
                </div>
                <div class="cryto-select-bank__item__label__title">
                  <div>LeeChunKit</div>
                  <div>TRC20</div>
                  <div>TEGi **** **** uJDC</div>
                </div>
                <input class="cryto-select-bank__item__label__checkbox" type="radio" name="bankAccount"/>
                <span class="checkmark"></span>
              </label>
              <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete crypto">
                <img src="assets/images/new-icons/delete.png" class="rounded-circle" width="25px"/>
              </button>
            </div>
            <div class="position-relative col-12 mb-3 cryto-select-bank__item">
              <label class="cryto-select-bank__item__label flex-row">
                <div class="cryto-select-bank__item__label__img">
                  <img src="assets/images/new-icons/usdt.png" />
                </div>
                <div class="cryto-select-bank__item__label__title">
                  <div>LeeChunKit</div>
                  <div>TRC20</div>
                  <div>TEGi **** **** uJDC</div>
                </div>
                <input class="cryto-select-bank__item__label__checkbox" type="radio" name="bankAccount" checked="checked"/>
                <span class="checkmark"></span>
              </label>
              <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete crypto">
                <img src="assets/images/new-icons/delete.png" class="rounded-circle" width="25px"/>
              </button>
            </div>
            <div class="position-relative col-12 mb-3 cryto-select-bank__item">
              <label class="cryto-select-bank__item__label flex-row">
                <div class="cryto-select-bank__item__label__img">
                  <img src="assets/images/new-icons/usdt.png" />
                </div>
                <div class="cryto-select-bank__item__label__title">
                  <div>LeeChunKit</div>
                  <div>TRC20</div>
                  <div>TEGi **** **** uJDC</div>
                </div>
                <input class="cryto-select-bank__item__label__checkbox" type="radio" name="bankAccount"/>
                <span class="checkmark"></span>
              </label>
              <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete crypto">
                <img src="assets/images/new-icons/delete.png" class="rounded-circle" width="25px"/>
              </button>
            </div>
            <div class="position-relative col-12 mb-3 cryto-select-bank__item">
              <label class="cryto-select-bank__item__label flex-row">
                <div class="cryto-select-bank__item__label__img">
                  <img src="assets/images/new-icons/usdt.png" />
                </div>
                <div class="cryto-select-bank__item__label__title">
                  <div>LeeChunKit</div>
                  <div>TRC20</div>
                  <div>TEGi **** **** uJDC</div>
                </div>
                <input class="cryto-select-bank__item__label__checkbox" type="radio" name="bankAccount"/>
                <span class="checkmark"></span>
              </label>
              <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete crypto">
                <img src="assets/images/new-icons/delete.png" class="rounded-circle" width="25px"/>
              </button>
            </div>
            <div class="position-relative col-12 mb-3 cryto-select-bank__item">
              <label class="cryto-select-bank__item__label flex-row">
                <div class="cryto-select-bank__item__label__img">
                  <img src="assets/images/new-icons/usdt.png" />
                </div>
                <div class="cryto-select-bank__item__label__title">
                  <div>LeeChunKit</div>
                  <div>TRC20</div>
                  <div>TEGi **** **** uJDC</div>
                </div>
                <input class="cryto-select-bank__item__label__checkbox" type="radio" name="bankAccount"/>
                <span class="checkmark"></span>
              </label>
              <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete crypto">
                <img src="assets/images/new-icons/delete.png" class="rounded-circle" width="25px"/>
              </button>
            </div>
            <div class="position-relative col-12 mb-3 cryto-select-bank__item">
              <label class="cryto-select-bank__item__label flex-row">
                <div class="cryto-select-bank__item__label__img">
                  <img src="assets/images/new-icons/usdt.png" />
                </div>
                <div class="cryto-select-bank__item__label__title">
                  <div>LeeChunKit</div>
                  <div>TRC20</div>
                  <div>TEGi **** **** uJDC</div>
                </div>
                <input class="cryto-select-bank__item__label__checkbox" type="radio" name="bankAccount"/>
                <span class="checkmark"></span>
              </label>
              <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete crypto">
                <img src="assets/images/new-icons/delete.png" class="rounded-circle" width="25px"/>
              </button>
            </div>
            <div class="position-relative col-12 mb-3 cryto-select-bank__item">
              <label class="cryto-select-bank__item__label flex-row">
                <div class="cryto-select-bank__item__label__img">
                  <img src="assets/images/new-icons/usdt.png" />
                </div>
                <div class="cryto-select-bank__item__label__title">
                  <div>LeeChunKit</div>
                  <div>TRC20</div>
                  <div>TEGi **** **** uJDC</div>
                </div>
                <input class="cryto-select-bank__item__label__checkbox" type="radio" name="bankAccount"/>
                <span class="checkmark"></span>
              </label>
              <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete crypto">
                <img src="assets/images/new-icons/delete.png" class="rounded-circle" width="25px"/>
              </button>
            </div>
            <div class="position-relative col-12 mb-3 cryto-select-bank__item">
              <label class="cryto-select-bank__item__label flex-row">
                <div class="cryto-select-bank__item__label__img">
                  <img src="assets/images/new-icons/usdt.png" />
                </div>
                <div class="cryto-select-bank__item__label__title">
                  <div>LeeChunKit</div>
                  <div>TRC20</div>
                  <div>TEGi **** **** uJDC</div>
                </div>
                <input class="cryto-select-bank__item__label__checkbox" type="radio" name="bankAccount"/>
                <span class="checkmark"></span>
              </label>
              <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete crypto">
                <img src="assets/images/new-icons/delete.png" class="rounded-circle" width="25px"/>
              </button>
            </div>
            <div class="position-relative col-12 mb-3 cryto-select-bank__item">
              <label class="cryto-select-bank__item__label flex-row">
                <div class="cryto-select-bank__item__label__img">
                  <img src="assets/images/new-icons/usdt.png" />
                </div>
                <div class="cryto-select-bank__item__label__title">
                  <div>LeeChunKit</div>
                  <div>TRC20</div>
                  <div>TEGi **** **** uJDC</div>
                </div>
                <input class="cryto-select-bank__item__label__checkbox" type="radio" name="bankAccount"/>
                <span class="checkmark"></span>
              </label>
              <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete crypto">
                <img src="assets/images/new-icons/delete.png" class="rounded-circle" width="25px"/>
              </button>
            </div>
            <div class="position-relative col-12 mb-3 cryto-select-bank__item">
              <label class="cryto-select-bank__item__label flex-row">
                <div class="cryto-select-bank__item__label__img">
                  <img src="assets/images/new-icons/usdt.png" />
                </div>
                <div class="cryto-select-bank__item__label__title">
                  <div>LeeChunKit</div>
                  <div>TRC20</div>
                  <div>TEGi **** **** uJDC</div>
                </div>
                <input class="cryto-select-bank__item__label__checkbox" type="radio" name="bankAccount"/>
                <span class="checkmark"></span>
              </label>
              <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete crypto">
                <img src="assets/images/new-icons/delete.png" class="rounded-circle" width="25px"/>
              </button>
            </div>
            <div class="position-relative col-12 mb-3 cryto-select-bank__item">
              <label class="cryto-select-bank__item__label flex-row">
                <div class="cryto-select-bank__item__label__img">
                  <img src="assets/images/new-icons/usdt.png" />
                </div>
                <div class="cryto-select-bank__item__label__title">
                  <div>LeeChunKit</div>
                  <div>TRC20</div>
                  <div>TEGi **** **** uJDC</div>
                </div>
                <input class="cryto-select-bank__item__label__checkbox" type="radio" name="bankAccount"/>
                <span class="checkmark"></span>
              </label>
              <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete crypto">
                <img src="assets/images/new-icons/delete.png" class="rounded-circle" width="25px"/>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


@@include('../../modal/delete-crypto-wallet-address-modal.html')