<div class="row slots-items">
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/1.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/2.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/3.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/4.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/5.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
</div>

<div class="row slots-items">
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/6.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/7.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/8.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/9.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/10.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
</div>

<div class="row slots-items">
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/11.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/12.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/13.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/14.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/15.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
</div>

<div class="row slots-items">
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/16.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/17.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/18.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/19.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <div class="slots-items__container__content__img">
        <img  src="assets/images/slots/20.png" />
        <div class="action">
          <button class="btn btn-warning" data-i18n="play"></button>
          <button class="btn btn-primary" data-i18n="demo"></button>
        </div>
      </div>
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
      <div class="slots-items__container__content__rtp">
        <span data-i18n="RTP"></span>
        <span>96.77</span>
      </div>
    </div>
  </div>
</div>


<div class="slots-paginations">
  <button class="slots-paginations__item btn">
    <img src="assets/images/slots/pre.png" />
  </button>
  <button class="slots-paginations__item btn">1</button>
  <button class="slots-paginations__item btn">2</button>
  <button class="slots-paginations__item btn">3</button>
  <button class="slots-paginations__item btn">
    <img src="assets/images/slots/next.png" />
  </button>
</div>