<div class="row select-bank">
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/new-icons/bonus-pay.png" />
      </div>
      <div class="select-bank__item__label__title">BONUSPAY</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="crypto_channel" value="BONUSPAY" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/new-icons/coin-payments.png" />
      </div>
      <div class="select-bank__item__label__title">CoinPayments</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="crypto_channel" value="CoinPayments" />
      <span class="checkmark"></span>
    </label>
  </div>
</div>