<div class="hero-section">
  <img src="assets/images/regions-page/hero.png" class="d-block w-100" alt="...">
  <div class="hero-content d-flex justify-content-center align-items-center gap-5 flex-column">
    <div class="container">
      <div class="fs-4 lh-base text-uppercase" data-i18n="region_page.hero_label"></div>
      <div class="section-title" data-i18n="region_page.hero_title"></div>
      <div id="selectLanguage" class="my-5">
        <div class="items zoom-effect-container">
          <label class="items__content zoom-effect">
            <img class="language-img" src="assets/images/language/3.png" />
            <div class="title" data-i18n="universal_page.Thailand"></div>
          </label>
        </div>
        <div class="items zoom-effect-container">
          <label class="items__content zoom-effect">
            <img class="language-img" src="assets/images/language/5.png" />
            <div class="title" data-i18n="universal_page.Indonesia"></div>
          </label>
        </div>
        <div class="items zoom-effect-container">
          <label class="items__content zoom-effect">
            <img class="language-img" src="assets/images/language/1.png" />
            <div class="title" data-i18n="universal_page.Malaysia"></div>
          </label>
        </div>
        <div class="items zoom-effect-container">
          <label class="items__content zoom-effect">
            <img class="language-img" src="assets/images/language/4.png" />
            <div class="title" data-i18n="universal_page.Vietnam"></div>
          </label>
        </div>
        <div class="items zoom-effect-container">
          <label class="items__content zoom-effect">
            <img class="language-img" src="assets/images/language/2.png" />
            <div class="title" data-i18n="universal_page.Singapore"></div>
          </label>
        </div>
      </div>
      <div class="fs-3 lh-base fw-bold pb-4" data-i18n="region_page.hero_description"></div>
      <div class="d-flex justify-content-center align-items-center gap-4">
        <a href="/register.html" class="btn-gradient has-icon text-uppercase" data-i18n="region_page.Play_now"></a>
      </div>
    </div>
  </div>
</div>


<div class="container pb-5">


  <div class="home-page__content">
    <div class="home-page__content__fc container">
      <div class="row ms-0 me-0">
        <a href="/sponsor-juventus.html" class="col-4 p-0 pe-1" data-i18n="home_fc_img_1"></a>
        <a href="/sponsor-leicester.html" class="col-4 p-0 ps-1" data-i18n="home_fc_img_3"></a>
        <a href="/sponsor-aston-villa.html" class="col-4 p-0 ps-1" data-i18n="home_fc_img_2"></a>
      </div>
    </div>
  </div>

  <!-- Why Choose OB9 -->
  <div id="why-us" class="row align-items-stretch g-5 justify-content-center align-items-center py-5">
    <div class="col-12 py-4 text-center">
      <div class="fs-05 mb-2 lh-base text-gray-gradient" data-i18n="region_page.Why_Choose_OB9"></div>
      <div class="fs-4 lh-base text-gray" data-i18n="region_page.Why_Choose_OB9_description"></div>
    </div>

    <div class="col-4">
      <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 bg-gradient3 border-none d-flex flex-column justify-content-start align-items-center gap-4 py-5">
        <div>
          <img class="zoom-effect" src="assets/images/regions-page/Secure-Trustworthy.png" height="100px" />
        </div>
        <div class="d-flex justify-content-center align-items-center gap-4 flex-column text-center">
          <div class="fs-4 lh-base my-3" data-i18n="region_page.Why_Choose_OB9_title_1"></div>
          <div class="fs-5 lh-base text-gray" data-i18n="region_page.Why_Choose_OB9_description_1"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 bg-gradient3 border-none d-flex flex-column justify-content-start align-items-center gap-4 py-5">
        <div>
          <img class="zoom-effect" src="assets/images/regions-page/Highest-Payout-Rate.png" height="100px" />
        </div>
        <div class="d-flex justify-content-center align-items-center gap-4 flex-column text-center">
          <div class="fs-4 lh-base my-3" data-i18n="region_page.Why_Choose_OB9_title_2"></div>
          <div class="fs-5 lh-base text-gray" data-i18n="region_page.Why_Choose_OB9_description_2"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 bg-gradient3 border-none d-flex flex-column justify-content-start align-items-center gap-4 py-5">
        <div>
          <img class="zoom-effect" src="assets/images/regions-page/Fast-Secure-Payment-Solution.png" height="100px" />
        </div>
        <div class="d-flex justify-content-center align-items-center gap-4 flex-column text-center">
          <div class="fs-4 lh-base my-3" data-i18n="region_page.Why_Choose_OB9_title_3"></div>
          <div class="fs-5 lh-base text-gray" data-i18n="region_page.Why_Choose_OB9_description_3"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 bg-gradient3 border-none d-flex flex-column justify-content-start align-items-center gap-4 py-5">
        <div>
          <img class="zoom-effect" src="assets/images/regions-page/Unmatched-Game-Selection.png" height="100px" />
        </div>
        <div class="d-flex justify-content-center align-items-center gap-4 flex-column text-center">
          <div class="fs-4 lh-base my-3" data-i18n="region_page.Why_Choose_OB9_title_4"></div>
          <div class="fs-5 lh-base text-gray" data-i18n="region_page.Why_Choose_OB9_description_4"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 bg-gradient3 border-none d-flex flex-column justify-content-start align-items-center gap-4 py-5">
        <div>
          <img class="zoom-effect" src="assets/images/regions-page/Premium-Customer-Support.png" height="100px" />
        </div>
        <div class="d-flex justify-content-center align-items-center gap-4 flex-column text-center">
          <div class="fs-4 lh-base my-3" data-i18n="region_page.Why_Choose_OB9_title_5"></div>
          <div class="fs-5 lh-base text-gray" data-i18n="region_page.Why_Choose_OB9_description_5"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 bg-gradient3 border-none d-flex flex-column justify-content-start align-items-center gap-4 py-5">
        <div>
          <img class="zoom-effect" src="assets/images/regions-page/Next-Level-Engagement.png" height="100px" />
        </div>
        <div class="d-flex justify-content-center align-items-center gap-4 flex-column text-center">
          <div class="fs-4 lh-base my-3" data-i18n="region_page.Why_Choose_OB9_title_6"></div>
          <div class="fs-5 lh-base text-gray" data-i18n="region_page.Why_Choose_OB9_description_6"></div>
        </div>
      </div>
    </div>
    
  </div>

</div>

<div class="bg-gradient4 mt-5 pb-5">

  <div class="container">
  
    <div id="certification" class="row align-items-stretch g-5 justify-content-center align-items-center py-5">
  
      <div class="col-4">
        <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 bg-gradient3 border-none d-flex flex-column justify-content-start align-items-center gap-4 p-5">
          <div>
            <img class="zoom-effect" src="assets/images/regions-page/Polo-He-License.png" height="100px" />
          </div>
          <div class="d-flex justify-content-center align-items-center gap-4 flex-column text-center">
            <div class="fs-4 lh-base my-3" data-i18n="region_page.certification_title_1"></div>
            <div class="fs-5 lh-base text-gray" data-i18n="region_page.certification_description_1"></div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 bg-gradient3 border-none d-flex flex-column justify-content-start align-items-center gap-4 p-5">
          <div>
            <img class="zoom-effect" src="assets/images/regions-page/British-Virgin-Islands.png" height="100px" />
          </div>
          <div class="d-flex justify-content-center align-items-center gap-4 flex-column text-center">
            <div class="fs-4 lh-base my-3" data-i18n="region_page.certification_title_2"></div>
            <div class="fs-5 lh-base text-gray" data-i18n="region_page.certification_description_2"></div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="zoom-effect-container zoom-shadow card-base h-100 bg-gradient2 bg-gradient3 border-none d-flex flex-column justify-content-start align-items-center gap-4 p-5">
          <div>
            <img class="zoom-effect" src="assets/images/regions-page/Philippine-PAGCOR.png" height="100px" />
          </div>
          <div class="d-flex justify-content-center align-items-center gap-4 flex-column text-center">
            <div class="fs-4 lh-base my-3" data-i18n="region_page.certification_title_3"></div>
            <div class="fs-5 lh-base text-gray" data-i18n="region_page.certification_description_3"></div>
          </div>
        </div>
      </div>
      
    </div>
  
  
  </div>

</div>  



<div class="top-session relative bg-gradient5">
  <div class="top-session-img">
    <img src="assets/images/regions-page/feedback-img.png" class="" width="700px" alt="...">
  </div>

  <div class="container text-center">
    <div>
      <div class="fs-1 lh-base" data-i18n="region_page.Testimonial"></div>
      <div class="fs-5 lh-base text-gray" data-i18n="region_page.What_players_say_about_us"></div>
    </div>
    <div class="">
      <div id="carouselTop" class="carousel slide carousel-fade" data-bs-touch="false" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-indicators">
          <div role="button" data-bs-target="#carouselTop" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></div>
          <div role="button" data-bs-target="#carouselTop" data-bs-slide-to="1" aria-label="Slide 2"></div>
          <div role="button" data-bs-target="#carouselTop" data-bs-slide-to="2" aria-label="Slide 3"></div>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="hero-section-custom text-center py-5 d-flex gap-4 flex-column justify-content-center align-items-center">
              <div class="d-flex gap-2">
                <img class="" src="assets/images/regions-page/avatar.png" height="60px" />
                <div class="d-flex flex-column align-items-start justify-content-center ">
                  <div class="fw-bold mb-2">Benjamin</div>
                  <div class="rating">
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                  </div>
                </div>
              </div>
              <div class="fs-5 lh-base w-75 my-5" data-i18n="region_page.rating_desc_1"></div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="hero-section-custom text-center py-5 d-flex gap-4 flex-column justify-content-center align-items-center">
              <div class="d-flex gap-2">
                <img class="" src="assets/images/regions-page/avatar.png" height="60px" />
                <div class="d-flex flex-column align-items-start justify-content-center ">
                  <div class="fw-bold mb-2">Benjamin 1</div>
                  <div class="rating">
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                  </div>
                </div>
              </div>
              <div class="fs-5 lh-base w-75 my-5" data-i18n="region_page.rating_desc_2"></div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="hero-section-custom text-center py-5 d-flex gap-4 flex-column justify-content-center align-items-center">
              <div class="d-flex gap-2">
                <img class="" src="assets/images/regions-page/avatar.png" height="60px" />
                <div class="d-flex flex-column align-items-start justify-content-center ">
                  <div class="fw-bold mb-2">Benjamin 2</div>
                  <div class="rating">
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                    <img class="" src="assets/images/regions-page/star.svg" height="24px" />
                  </div>
                </div>
              </div>
              <div class="fs-5 lh-base w-75 my-5" data-i18n="region_page.rating_desc_3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
