<div class="container">

  <!-- Top -->
  <div class="row gx-5 justify-content-center align-items-center py-5">
    <div class="col-6">
      <div class="d-flex justify-content-start align-items-center gap-4 mb-4 flex-column">
        <div class="d-flex justify-content-start align-items-center gap-4 w-100">
          <div>
            <img src="assets/images/referral/referal-now.png" width="180px" />
          </div>
          <div class="Refer_Now fs-05 lh-sm" data-i18n="referral_page.Refer_Now"></div>
        </div>
        <div class="fs-3 lh-base text-gray" data-i18n="referral_page.Refer_Now_description"></div>
        <div class="d-flex justify-content-start align-items-center gap-4 w-100">
          <div class="card-base pb-0 d-flex flex-fill flex-column justify-content-center align-items-center text-center gap-4 bg-white">
            <div class="text-gray" data-i18n="referral_page.Invitation_bonus_up_to"></div>
            <div class="fw-bold fs-2">MYR 2,000</div>
            <div class="bg-gradient1 pt-3 pb-3 card-base text-white border-bottom-radius-none w-100" style="margin-bottom: -1px;">
              <img role="button" src="assets/icons/newinfo.svg" data-bs-toggle="modal" data-bs-target="#inviteModal"/>
              <span data-i18n="referral_page.Per_Head"></span>
            </div>
          </div>
          <div class="card-base pb-0 d-flex flex-fill flex-column justify-content-center align-items-center text-center gap-4 bg-white">
            <div class="text-gray" data-i18n="referral_page.Commission_Earnings"></div>
            <div class="fw-bold fs-2">0.2%</div>
            <div class="bg-gradient1 pt-3 pb-3 card-base text-white border-bottom-radius-none w-100" style="margin-bottom: -1px;">
              <img role="button" src="assets/icons/newinfo.svg" data-bs-toggle="modal" data-bs-target="#earningsModal"/>
              <span data-i18n="referral_page.Unlimited"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card-base bg-gradient1 ps-0 pe-0">
        <div class="d-flex px-4 py-1 justify-content-between align-items-center gap-4 text-white">
          <div class="fs-3" data-i18n="referral_page.Your_referral"></div>
          <div class="fst-italic fs-7">
            <img src="assets/icons/newinfo.svg" />
            <span data-i18n="referral_page.Update_12AM_everyday"></span>
          </div>
        </div>
        <div class="card-base bg-white mt-4 mb-4 d-flex justify-content-start align-items-center gap-3 flex-column">
          <div class="text-gray" data-i18n="referral_page.Total_earnings"></div>
          <div class="text-gradient lh-base fs-3 fw-bold">MYR 15.504,32</div>
          <div class="w-100">
            <div class="d-flex justify-content-between align-items-center gap-4 pb-3 mb-3 w-100">
              <div class="text-gray" data-i18n="referral_page.referrals_bonus"></div>
              <div class="fw-bold">MYR 24,463</div>
            </div>
            <div class="d-flex justify-content-between align-items-center gap-4 pb-3 mb-3 w-100 border-bottom">
              <div class="text-gray" data-i18n="referral_page.referrals_commission"></div>
              <div class="fw-bold">MYR 32,551.4</div>
            </div>
            <div class="d-flex justify-content-between align-items-center gap-4 pb-3 mb-3 w-100">
              <div class="text-gray" data-i18n="referral_page.Total_Referrals_weekly_turnover"></div>
              <div class="fw-bold">MYR 42,249.98</div>
            </div>
          </div>
          <!-- <div class="progress bg-gray1 w-100 border-radius-16 h-30">
            <div class="progress-bar bg-gradient1 border-radius-16" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">8/10</div>
          </div> -->
          <div class="text-center my-2">
            <div class="fw-bold mb-2" data-i18n="referral_page.Referral_history"></div>
            <div class="text-gray fst-italic" data-i18n="referral_page.1st_deposit_MYR_100_above"></div>
          </div>
          <div class="d-flex justify-content-between align-items-center gap-4 w-100">
            <div class="card-base d-flex justify-content-center align-items-center gap-3 flex-column flex-fill">
              <div class="fw-bold fs-4">1,259</div>
              <div class="text-gray" data-i18n="referral_page.Successful_referrals"></div>
            </div>
            <div class="card-base d-flex justify-content-center align-items-center gap-3 flex-column flex-fill">
              <div class="fw-bold fs-4">953</div>
              <div class="text-gray" data-i18n="referral_page.Successful_Deposit"></div>
            </div>
          </div>
        </div>
        <div class="d-flex ps-4 pe-4 justify-content-between align-items-center gap-4 text-white">
          <div>
            <div class="mb-1 fw-bold" data-i18n="referral_page.Referral_link"></div>
            <div>https://ob9.com/register?referral_code=WQNPneEIRTfAc2Q3</div>
          </div>
          <div class="">
            <img src="assets/icons/copy.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- How It Works -->

  <div class="py-5 d-flex justify-content-center align-items-center gap-4 flex-column">
    <div class="section-title" data-i18n="referral_page.How_it_works"></div>
    <div class="text-gray fs-4" data-i18n="referral_page.Start_Earning_Free_Cash_in_Just_3_Steps"></div>
    <div class="zoom-effect-container row gx-5 justify-content-center align-items-center py-5 w-100">
      <div class="col-5">
        <img class="zoom-effect" src="assets/images/referral/how-it-work.png" width="100%" />
      </div>
      <div class="col-7">
        <div class="d-flex justify-content-start align-items-start gap-6 flex-column">
          <div class="d-flex justify-content-start align-items-start gap-4 flex-column relative pt-6 ps-5">
            <div class="how-it-work-step">01</div>
            <div class="fs-4 fw-normal" data-i18n="referral_page.how_it_works_title_1"></div>
            <div class="fs-6 text-gray" data-i18n="referral_page.how_it_works_description_1"></div>
          </div>
          <div class="d-flex justify-content-start align-items-start gap-4 flex-column relative pt-6 ps-5">
            <div class="how-it-work-step">02</div>
            <div class="fs-4 fw-normal" data-i18n="referral_page.how_it_works_title_2"></div>
            <div class="fs-6 text-gray" data-i18n="referral_page.how_it_works_description_2"></div>
          </div>
          <div class="d-flex justify-content-start align-items-start gap-4 flex-column relative pt-6 ps-5">
            <div class="how-it-work-step">03</div>
            <div class="fs-4 fw-normal" data-i18n="referral_page.how_it_works_title_3"></div>
            <div class="fs-6 text-gray" data-i18n="referral_page.how_it_works_description_3"></div>
          </div>
          <button class="btn-gradient has-icon" data-i18n="referral_page.how_it_works_button"></button>
        </div>
      </div>
    </div>
  </div>


  <!-- List of referrals -->
  <div class="py-5 d-flex justify-content-center align-items-center gap-3 flex-column ">
    <div class="w-100">
      <div class="d-flex justify-content-between align-items-center gap-4 w-100">
        <div class="fs-4 fw-normal text-uppercase" data-i18n="referral_page.List_of_referrals"></div>
        <div>
          <div class="input-group">
            <input type="text" class="form-control" data-i18n="referral_page.Member_ID" data-i18n-attr="placeholder" placeholder="" aria-label="Username" aria-describedby="basic-addon1" />
            <span class="input-group-text bg-white" id="basic-addon1" data-bs-toggle="modal" data-bs-target="#searchModal" role="button">
              <img src="assets/icons/search.svg"/>
            </span>
          </div>
        </div>
      </div>
      <div class="w-100 d-flex justify-content-end align-items-center gap-4 mt-3">
        <ul class="nav nav-custom">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">F1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">F2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">F3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">F4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">F5</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">F6</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-base w-100 bg-white">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" data-i18n="referral_page.No"></th>
            <th class="sort" scope="col" data-i18n="referral_page.Member_ID"></th>
            <th class="sort" scope="col" data-i18n="referral_page.First_deposit_amount"></th>
            <th class="sort" scope="col" data-i18n="referral_page.Referral_Bonus"></th>
            <th class="sort" scope="col" data-i18n="referral_page.Account_creation_date"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td class="fw-bold" colspan="2">Total</td>
            <td class="fw-bold">MYR 4.727,63</td>
            <td class="fw-bold">MYR 53.625,27</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between align-items-center gap-4 w-100">
      <div class="text-gray fs-7">
        10 <span data-i18n="referral_page.of"></span> 832 <span data-i18n="referral_page.row_selected"></span>
      </div>
      <div class="d-flex justify-content-end align-items-center gap-2">
        <button class="btn-gradient1 previous disabled">
          <img src="assets/icons/previous.svg" />
          <span data-i18n="referral_page.Previous"></span>
        </button>
        <button class="btn-gradient1 next">
          <img src="assets/icons/next.svg" />
          <span data-i18n="referral_page.Next"></span>
        </button>
      </div>
    </div>
  </div>

  <!-- Referral Commission -->
  <div class="py-5 d-flex justify-content-center align-items-center gap-3 flex-column ">
    <div class="w-100">
      <div class="d-flex justify-content-between align-items-center gap-4 w-100">
        <div class="fs-4 fw-normal text-uppercase" data-i18n="referral_page.Referral_Commission"></div>
        <div>
          <div class="input-group">
            <input type="text" class="form-control" data-i18n="referral_page.Member_ID" data-i18n-attr="placeholder" placeholder="" aria-label="Username" aria-describedby="basic-addon1" />
            <span class="input-group-text bg-white" id="basic-addon1" data-bs-toggle="modal" data-bs-target="#searchModal" role="button">
              <img src="assets/icons/search.svg" />
            </span>
          </div>
        </div>
      </div>
      <div class="w-100 d-flex justify-content-end align-items-center gap-4 mt-3">
        <ul class="nav nav-custom">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">F1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">F2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">F3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">F4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">F5</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">F6</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-base w-100 bg-white">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" data-i18n="referral_page.No"></th>
            <th class="sort" scope="col" data-i18n="referral_page.Member_ID"></th>
            <th class="sort" scope="col" data-i18n="referral_page.Weekly_Turnover"></th>
            <th class="sort" scope="col" data-i18n="referral_page.Commission_Bonus"></th>
            <th class="sort" scope="col" data-i18n="referral_page.Account_creation_date"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MBR8432</td>
            <td>MYR 4.727,63</td>
            <td>MYR 53.625,27</td>
            <td>12:43:06  21/6/2025</td>
          </tr>
          <tr>
            <td class="fw-bold" colspan="2">Total</td>
            <td class="fw-bold">MYR 4.727,63</td>
            <td class="fw-bold">MYR 53.625,27</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between align-items-center gap-4 w-100">
      <div class="text-gray fs-7">
        10 <span data-i18n="referral_page.of"></span> 832 <span data-i18n="referral_page.row_selected"></span>
      </div>
      <div class="d-flex justify-content-end align-items-center gap-2">
        <button class="btn-gradient1 previous disabled">
          <img src="assets/icons/previous.svg" />
          <span data-i18n="referral_page.Previous"></span>
        </button>
        <button class="btn-gradient1 next">
          <img src="assets/icons/next.svg" />
          <span data-i18n="referral_page.Next"></span>
        </button>
      </div>
    </div>
  </div>


</div>
