<!-- INVITE Modal -->
<div class="modal fade" id="inviteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="inviteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content card-base bg-gradient2">
      <div class="modal-header align-items-start border-none">
        <div></div>
        <h5 class="modal-title fs-2 fw-light mb-2 lh-base" id="inviteModalLabel" data-i18n="referral_page.invite_modal_title"></h5>
        <div role="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close"></div>
      </div>
      <div class="modal-body">
        <div class="fw-bold fs-4 lh-base text-decoration-underline text-uppercase mb-2" data-i18n="referral_page.How_It_Works"></div>
        <div class="py-1">
          <div class="fw-bold lh-base d-flex align-items-center gap-3 mb-1">
            <div class="py-1 px-3 bg-white text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 30px; height: 30px;">1</div>
            <div data-i18n="referral_page.How_It_Works_title_1"></div>
          </div>
          <div class="text-gray" data-i18n="referral_page.How_It_Works_description_1"></div>
        </div>
        <div class="py-1">
          <div class="fw-bold lh-base d-flex align-items-center gap-3 mb-1">
            <div class="py-1 px-3 bg-white text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 30px; height: 30px;">2</div>
            <div data-i18n="referral_page.How_It_Works_title_2"></div>
          </div>
          <div class="text-gray" data-i18n="referral_page.How_It_Works_description_2"></div>
        </div>
        <div class="py-1">
          <div class="fw-bold lh-base d-flex align-items-center gap-3 mb-1">
            <div class="py-1 px-3 bg-white text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 30px; height: 30px;">3</div>
            <div data-i18n="referral_page.How_It_Works_title_3"></div>
          </div>
          <div class="text-gray" data-i18n="referral_page.How_It_Works_description_3"></div>
        </div>
        <div class="py-1">
          <div class="fw-bold lh-base d-flex align-items-center gap-3 mb-1">
            <div class="py-1 px-3 bg-white text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 30px; height: 30px;">4</div>
            <div data-i18n="referral_page.How_It_Works_title_4"></div>
          </div>
          <div class="text-gray" data-i18n="referral_page.How_It_Works_description_4"></div>
        </div>
      </div>
      <div class="modal-footer border-none">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <div class="text-center text-gray w-100 mt-3" data-i18n="referral_page.Easy_Rewarding_Unlimited"></div>
        <button class="btn-gradient has-icon text-uppercase w-100" data-i18n="referral_page.I_Understand" data-bs-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div>