<!-- SEARCH Modal -->
<div class="modal fade" id="searchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content card-base bg-gradient2">
      <div class="modal-header align-items-start border-none">
        <div></div>
        <div role="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close"></div>
      </div>
      <div class="modal-body">
        <div class="fs-4 lh-base text-center mb-2">Member ID Not Found.</div>
      </div>
      <div class="modal-footer border-none">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button class="btn-gradient has-icon text-uppercase w-100"  data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>