
<!-- Modal -->
<div class="modal fade modal-custom" id="dailyMissionModal" tabindex="-1" aria-labelledby="dailyMissionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body d-flex gap-4 justify-content-center align-items-center flex-column">
        <div class="title" data-i18n="mission_daily.congratulations"></div>
        <div>
          <img src="assets/images/daily-mission/claim-box.gif" />
        </div>
        <div class="" data-i18n="mission_daily.modal_title"></div>
        <div class="" data-i18n="mission_daily.modal_description"></div>
      </div>
    </div>
  </div>
</div>