.crypto-page {
  padding-top: 0px;
}
.crypto-page .hero-section {
  position: relative;
}
.crypto-page .hero-section img {
  border-radius: 16px;
  max-height: 100vh;
  object-fit: cover;
}
.crypto-page .hero-section .hero-content {
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  color: white;
  text-align: center;
}
.crypto-page .accordion-custom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.crypto-page .accordion-custom .accordion-item {
  border: 1px solid rgba(1, 188, 255, 0.2);
  border-radius: 25px;
  overflow: hidden;
  background-color: transparent;
}
.crypto-page .accordion-custom .accordion-item .accordion-header .accordion-button {
  font-size: 20px;
  font-weight: 300;
  padding: 25px;
}
.crypto-page .accordion-custom .accordion-item .accordion-header .accordion-button[aria-expanded=true] {
  background: linear-gradient(90deg, #4884EE 0%, #06BCFB 100%);
  color: #fff;
  font-size: 24px;
}
.crypto-page .accordion-custom .accordion-item .accordion-collapse .accordion-body {
  background-color: transparent;
  font-size: 16px;
  line-height: 28px;
  color: #7981A4;
}
.crypto-page .custom-tabs .tab-content {
  margin: 20px 0;
  border-radius: 25px;
  overflow: hidden;
  min-height: 500px;
}
.crypto-page .custom-tabs .nav-tabs {
  border: 1px solid var(--color-blue-89, #D1D5F5);
  border-radius: 100px;
  width: fit-content;
  margin: auto;
  background-color: #fff;
  padding: 2px;
}
.crypto-page .custom-tabs .nav-tabs .nav-item .nav-link {
  border: none;
  border-radius: 100px;
  color: #6C7BA8;
  padding: 16px 24px;
  min-width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-transform: uppercase;
  line-height: 20px;
}
.crypto-page .custom-tabs .nav-tabs .nav-item .nav-link.active {
  box-shadow: 0px 4px 15px 0px rgba(64, 128, 255, 0.2509803922);
  background-image: url(../icons/btn-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
.crypto-page .custom-tabs .nav-tabs .nav-item .nav-link.active::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../icons/btn-ai-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}