.daily-mission-page .title-img {
  position: absolute;
  right: 40px;
  top: 18px;
  z-index: 9;
}
.daily-mission-page__content__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 30px;
  text-transform: capitalize !important;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.daily-mission-page__content__title span {
  position: relative;
}
.daily-mission-page__content__title span::before {
  content: " ";
  position: absolute;
  bottom: -12px;
  left: 10px;
  right: 10px;
  height: 6px;
  background: rgb(130, 185, 255);
  background: linear-gradient(0deg, rgb(130, 185, 255) 0%, rgb(105, 212, 255) 100%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.daily-mission-page__content .btn {
  border: none !important;
}
.daily-mission-page__content .badge-time {
  background-color: #d6f0fb;
  padding: 2px 10px;
  border-radius: 15px;
  color: #999;
  font-size: 12px;
}
.daily-mission-page__content .btn-spin,
.daily-mission-page__content .btn-claimall {
  padding: 3px 15px;
  border-radius: 15px;
  color: #fff;
}
.daily-mission-page__content .btn-spin:hover,
.daily-mission-page__content .btn-claimall:hover {
  opacity: 0.7;
}
.daily-mission-page__content .btn-spin {
  background: rgb(138, 16, 188);
  background: linear-gradient(100deg, rgb(138, 16, 188) 0%, rgb(234, 95, 240) 100%);
}
.daily-mission-page__content .btn-claimall {
  background: rgb(59, 237, 172);
  background: linear-gradient(100deg, rgb(59, 237, 172) 0%, rgb(27, 253, 161) 100%);
}
.daily-mission-page__content .badge-total-point {
  background-color: #f3f3f3;
  padding: 5px 15px;
  border-radius: 15px;
}
.daily-mission-page__content .badge-total-point span {
  color: #7bb0ec;
}
.daily-mission-page__content .mission-item {
  padding: 30px 30px 15px 30px;
  border-radius: 12px;
  background-color: #f3f3f3;
  box-shadow: 0px -1px 12px 1px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px -1px 12px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px -1px 12px 1px rgba(0, 0, 0, 0.1) inset;
}
.daily-mission-page__content .mission-item .title {
  font-size: 16px;
  margin-bottom: 10px;
}
.daily-mission-page__content .mission-item .btn-start,
.daily-mission-page__content .mission-item .btn-claim {
  padding: 5px 15px;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.daily-mission-page__content .mission-item .btn-start:hover,
.daily-mission-page__content .mission-item .btn-claim:hover {
  opacity: 0.7;
}
.daily-mission-page__content .mission-item .btn-start {
  background: rgb(52, 212, 217);
  background: linear-gradient(100deg, rgb(52, 212, 217) 0%, rgb(213, 252, 156) 100%);
  box-shadow: -1px -1px 10px 0px rgba(52, 212, 217, 0.75);
  -webkit-box-shadow: -1px -1px 10px 0px rgba(52, 212, 217, 0.75);
  -moz-box-shadow: -1px -1px 10px 0px rgba(52, 212, 217, 0.75);
}
.daily-mission-page__content .mission-item .btn-claim {
  background: rgb(107, 210, 255);
  background: linear-gradient(100deg, rgb(107, 210, 255) 0%, rgb(139, 176, 255) 100%);
  box-shadow: -1px -1px 10px 0px rgba(107, 210, 255, 0.75);
  -webkit-box-shadow: -1px -1px 10px 0px rgba(107, 210, 255, 0.75);
  -moz-box-shadow: -1px -1px 10px 0px rgba(107, 210, 255, 0.75);
}
.daily-mission-page__content .mission-item .btn-claim:disabled {
  background: #ddd;
  box-shadow: -1px -1px 10px 0px #999;
  -webkit-box-shadow: -1px -1px 10px 0px #999;
  -moz-box-shadow: -1px -1px 10px 0px #999;
}
.daily-mission-page__content .mission-item .progress {
  width: 200px;
  height: 18px;
  border-radius: 15px;
  position: relative;
  background: rgb(225, 222, 219);
  background: linear-gradient(100deg, rgb(225, 222, 219) 0%, rgb(212, 208, 203) 100%);
}
.daily-mission-page__content .mission-item .progress .progress-label {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.daily-mission-page__content .mission-item .progress .progress-bar {
  text-transform: uppercase;
  background: rgb(107, 211, 255);
  background: linear-gradient(100deg, rgb(107, 211, 255) 0%, rgb(139, 177, 255) 100%);
}
.daily-mission-page #dailyMissionModal .modal-content {
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.daily-mission-page #dailyMissionModal .modal-content a {
  color: #7bb0ec;
}
.daily-mission-page #dailyMissionModal .modal-content .title {
  font-size: 20px;
  font-weight: bold;
}