<div class="home-page__realbet">
  <div id="realbet-icon" role="button" class="home-page__realbet__icon">
    <img src="assets/images/realbet/realbet.png" class="" alt="...">
  </div>
  <div id="realbet-popup" class="home-page__realbet__popup">
    <div class="home-page__realbet__popup__content">
      <a href="/daily-mission.html" class="challenge-card">
        <div id="realbet-show-icon">
          <img role="button" src="assets/images/realbet/caret-right-solid-full.svg" class="show-icon" alt="...">
        </div>
        <div class="challenge-card__header">
          <img src="assets/images/realbet/cup.png" class="trophy" alt="Trophy">
          <div class="challenge-title" data-i18n="realbet_challenge"></div>
        </div>
  
        <div class="stats-box">
          <div class="stats-row">
            <div>
              <span data-i18n="realbet_hit"></span><br>
              <span class="value">50,000</span>
            </div>
            <div class="text-end">
              <span data-i18n="realbet_Remaining"></span><br>
              <span class="value">4,000</span>
            </div>
          </div>
  
          <div class="progress">
            <div class="progress-bar" style="width: 58%;"></div>
          </div>
  
          <div class="total-bonus" data-i18n="total_bonus"></div>
        </div>
      </a>
    </div>
  </div>
</div>