<!-- CONTACT Modal -->
<div class="modal fade" id="contactUsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="contactUsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content card-base bg-gradient2">
      <div class="modal-header align-items-start border-none">
        <div></div>
        <h5 class="modal-title fs-05 fw-light mb-2 lh-base" id="contactUsModalLabel" data-i18n="crypto_page.contact_us_modal_title"></h5>
        <div role="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close"></div>
      </div>
      <div class="modal-body">
        <div class="row gx-4 gy-5 justify-content-center align-items-center py-5 w-100">
          <div class="col-6">
            <div class="">
              <label for="name" class="form-label" data-i18n="crypto_page.Preferred_Username"></label>
              <input type="text" class="form-control p-3" id="name" placeholder="User Name" />
            </div>
          </div>
          <div class="col-6">
            <div class="">
              <label for="email" class="form-label" data-i18n="crypto_page.Email_Address"></label>
              <div class="input-group width-auto">
                <span class="input-group-text" id="basic-addon1">
                  <img class="zoom-effect" src="assets/icons/crypto/email.svg" height="24px" />
                </span>
                <input type="email" class="form-control" id="email" placeholder="Email Address" />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="">
              <label for="phone" class="form-label" data-i18n="crypto_page.Phone_Number"></label>
              <div class="input-group width-auto">
                <span class="input-group-text" id="basic-addon1">
                  <img class="zoom-effect" src="assets/icons/crypto/phone.svg" height="24px" />
                </span>
                <input type="tel" class="form-control" id="phone" placeholder="Phone Number" />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="">
              <label for="region" class="form-label" data-i18n="crypto_page.Region_Market"></label>
              <div class="input-group width-auto">
                <span class="input-group-text" id="basic-addon1">
                  <img class="zoom-effect" src="assets/icons/crypto/region.svg" height="24px" />
                </span>
                <input type="text" class="form-control" id="region" placeholder="Region/Market" />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="">
              <label for="source" class="form-label" data-i18n="crypto_page.Traffic_Source"></label>
              <input type="text" class="form-control p-3" id="source" placeholder="Example: SEO, Ads, Social Media, Direct" />
            </div>
          </div>
          <div class="col-6">
            <div class="">
              <label for="website" class="form-label" data-i18n="crypto_page.Website_URL"></label>
              <div class="input-group width-auto">
                <span class="input-group-text" id="basic-addon1">
                  <img class="zoom-effect" src="assets/icons/crypto/web.svg" height="24px" />
                </span>
                <input type="text" class="form-control" id="website" placeholder="Website URL" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-none">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button class="btn-gradient has-icon text-uppercase w-100" data-i18n="crypto_page.Submit" data-bs-dismiss="modal"></button>
        <div class="text-center text-gray w-100 mt-3" data-i18n="crypto_page.contact_us_modal_description"></div>
        <a class="w-100 text-center" href="mailto:my.affiliates@ob9.com">my.affiliates@ob9.com</a>
      </div>
    </div>
  </div>
</div>